:root{
--colour-neutral-1: #1c1c1c;
--colour-neutral-2: #1f1e1e;
--colour-neutral-3: #282525;
--colour-neutral-4: #312a2a;
--colour-neutral-5: #3e3232;
--colour-neutral-6: #4c3838;
--colour-neutral-7: #5b3e3e;
--colour-neutral-8: #6a4343;
--colour-neutral-9: #774646;
--colour-neutral-10: #834949;
--colour-neutral-11: #8b4c4c;
--colour-neutral-12: #8b4b4b;
--colour-primary-1: #1a1919;
--colour-primary-2: #201d1d;
--colour-primary-3: #262121;
--colour-primary-4: #312626;
--colour-primary-5: #402b2b;
--colour-primary-6: #512f2f;
--colour-primary-7: #5f3030;
--colour-primary-8: #723131;
--colour-primary-9: #823131;
--colour-primary-10: #8d3030;
--colour-primary-11: #973030;
--colour-primary-12: #982f2f;
--colour-accent-1: #1a1919;
--colour-accent-2: #1b1818;
--colour-accent-3: #1c1717;
--colour-accent-4: #1e1515;
--colour-accent-5: #201313;
--colour-accent-6: #231010;
--colour-accent-7: #250e0e;
--colour-accent-8: #2b0d0d;
--colour-accent-9: #2d0b0b;
--colour-accent-10: #2f0909;
--colour-accent-11: #300808;
--colour-accent-12: #300808;
--colour-error-1: #301A27;
--colour-error-2: #EB3543;
--colour-error-3: #F9D0D2;
--colour-error-4: #F8E8E8;
--colour-success-1: #1D2829;
--colour-success-2: #53A451;
--colour-success-3: #D6EAD6;
--colour-success-4: #E9F4E9;
--border-width-1: 1px;
--border-width-2: 2px;
--border-radius-0: 0px;
--border-radius-4: 6px;
--border-radius-8: 8px;
--border-radius-12: 12px;
--border-radius-100: 100px;
--background-blur-4: blur(400px);
--background-blur-8: blur(1600px);
--background-blur-12: blur(3600px);
--background-blur-16: blur(6400px);
--background-blur-20: blur(10000px);
--shadow-0: 0px 0px 0px 0px #000000;
--shadow-1: 0px 1px 2px 0px #1018280d;
--shadow-2: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a ;
--shadow-3: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a ;
--shadow-4: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814 ;
--shadow-5: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814 ;
--shadow-6: 0px 24px 48px -12px #1018282e;
--shadow-7: 0px 32px 64px -12px #10182824;
--primary: Oswald;
--secondary: Poppins;
--font-size-base: 8px;
--font-size-heading-scale: -2.3819999999999997;
--font-size-label-scale: 1.2;
--font-size-body-scale: 2.2;
--font-weight-300: 300;
--font-weight-400: 400;
--font-weight-500: 500;
--font-weight-600: 600;
--font-weight-700: 700;
--line-height-100: 100%;
--line-height-125: 125%;
--line-height-150: 150%;
--border-default: var(--border-width-1) solid var(--colour-neutral-6);
--border-disabled: var(--border-width-1) solid var(--colour-neutral-9);
--border-focus: var(--border-width-1) solid var(--colour-neutral-1);
--border-hover: var(--border-width-1) solid var(--colour-accent-11);
--border-error: var(--border-width-1) solid var(--colour-error-2);
--element-height-16: 16px;
--element-height-24: 24px;
--element-height-32: 32px;
--element-height-44: 44px;
--element-height-48: 48px;
--element-height-64: 64px;
--element-height-128: 128px;
--colour-text-neutral-1: var(--colour-neutral-1);
--colour-text-neutral-4: var(--colour-neutral-4);
--colour-text-neutral-5: var(--colour-neutral-5);
--colour-text-neutral-6: var(--colour-neutral-6);
--colour-text-neutral-7: var(--colour-neutral-7);
--colour-text-neutral-11: var(--colour-neutral-11);
--colour-text-error-2: var(--colour-error-2);
--colour-icon-neutral-1: var(--colour-neutral-1);
--colour-icon-active-7: var(--colour-primary-7);
--colour-icon-error-2: var(--colour-error-2);
--font-size-h6: var(--font-size-base);
--font-size-h5: calc(var(--font-size-base) * var(--font-size-heading-scale));
--font-size-h4: calc(var(--font-size-h5) * var(--font-size-heading-scale));
--font-size-h3: calc(var(--font-size-h4) * var(--font-size-heading-scale));
--font-size-h2: calc(var(--font-size-h3) * var(--font-size-heading-scale));
--font-size-h1: calc(var(--font-size-h2) * var(--font-size-heading-scale));
--font-size-l3: var(--font-size-base);
--font-size-l2: calc(var(--font-size-base) * var(--font-size-label-scale));
--font-size-l1: calc(var(--font-size-l2) * var(--font-size-label-scale));
--font-size-b3: calc(var(--font-size-base) * var(--font-size-body-scale));
--font-size-b2: calc(var(--font-size-b3) * var(--font-size-body-scale));
--font-size-b1: calc(var(--font-size-b2) * var(--font-size-body-scale));
--heading-h1-300: normal normal var(--font-weight-300) var(--font-size-h1)/var(--line-height-125) var(--secondary);
--heading-h1-400: normal normal var(--font-weight-400) var(--font-size-h1)/var(--line-height-125) var(--secondary);
--heading-h1-500: normal normal var(--font-weight-500) var(--font-size-h1)/var(--line-height-125) var(--secondary);
--heading-h1-700: normal normal var(--font-weight-700) var(--font-size-h1)/var(--line-height-125) var(--secondary);
--heading-h3-300: normal normal var(--font-weight-300) var(--font-size-h3)/var(--line-height-125) var(--secondary);
--heading-h3-400: normal normal var(--font-weight-400) var(--font-size-h3)/var(--line-height-125) var(--secondary);
--heading-h3-500: normal normal var(--font-weight-500) var(--font-size-h3)/var(--line-height-125) var(--secondary);
--heading-h3-700: normal normal var(--font-weight-700) var(--font-size-h3)/var(--line-height-125) var(--secondary);
--heading-h2-300: normal normal var(--font-weight-300) var(--font-size-h2)/var(--line-height-125) var(--secondary);
--heading-h2-400: normal normal var(--font-weight-400) var(--font-size-h2)/var(--line-height-125) var(--secondary);
--heading-h2-500: normal normal var(--font-weight-500) var(--font-size-h2)/var(--line-height-125) var(--primary);
--heading-h2-700: normal normal var(--font-weight-700) var(--font-size-h2)/var(--line-height-125) var(--secondary);
--heading-h4-300: normal normal var(--font-weight-300) var(--font-size-h4)/var(--line-height-125) var(--primary);
--heading-h4-400: normal normal var(--font-weight-400) var(--font-size-h4)/var(--line-height-125) var(--primary);
--heading-h4-500: normal normal var(--font-weight-500) var(--font-size-h4)/var(--line-height-125) var(--primary);
--heading-h4-700: normal normal var(--font-weight-700) var(--font-size-h4)/var(--line-height-125) var(--primary);
--heading-h5-300: normal normal var(--font-weight-300) var(--font-size-h5)/var(--line-height-125) var(--primary);
--heading-h5-400: normal normal var(--font-weight-400) var(--font-size-h5)/var(--line-height-125) var(--primary);
--heading-h5-500: normal normal var(--font-weight-500) var(--font-size-h5)/var(--line-height-125) var(--primary);
--heading-h5-700: normal normal var(--font-weight-700) var(--font-size-h5)/var(--line-height-125) var(--primary);
--heading-h6-300: normal normal var(--font-weight-300) var(--font-size-h6)/var(--line-height-125) var(--primary);
--heading-h6-400: normal normal var(--font-weight-400) var(--font-size-h6)/var(--line-height-125) var(--primary);
--heading-h6-500: normal normal var(--font-weight-500) var(--font-size-h6)/var(--line-height-125) var(--primary);
--heading-h6-700: normal normal var(--font-weight-700) var(--font-size-h6)/var(--line-height-125) var(--primary);
--label-l1-400: normal normal var(--font-weight-400) var(--font-size-l1)/var(--line-height-100) var(--primary);
--label-l1-500: normal normal var(--font-weight-500) var(--font-size-l1)/var(--line-height-100) var(--primary);
--label-l1-700: normal normal var(--font-weight-700) var(--font-size-l1)/var(--line-height-100) var(--primary);
--label-l2-400: normal normal var(--font-weight-400) var(--font-size-l2)/var(--line-height-100) var(--primary);
--label-l2-500: normal normal var(--font-weight-500) var(--font-size-l2)/var(--line-height-100) var(--primary);
--label-l2-700: normal normal var(--font-weight-700) var(--font-size-l2)/var(--line-height-100) var(--primary);
--label-l3-400: normal normal var(--font-weight-400) var(--font-size-l3)/var(--line-height-100) var(--primary);
--label-l3-500: normal normal var(--font-weight-500) var(--font-size-l3)/var(--line-height-100) var(--primary);
--label-l3-700: normal normal var(--font-weight-700) var(--font-size-l3)/var(--line-height-100) var(--primary);
--body-b1-400: normal normal var(--font-weight-400) var(--font-size-b1)/var(--line-height-150) var(--primary);
--body-b1-500: normal normal var(--font-weight-500) var(--font-size-b1)/var(--line-height-150) var(--primary);
--body-b1-700: normal normal var(--font-weight-700) var(--font-size-b1)/var(--line-height-150) var(--primary);
--body-b2-400: normal normal var(--font-weight-400) var(--font-size-b2)/var(--line-height-150) var(--primary);
--body-b2-500: normal normal var(--font-weight-500) var(--font-size-b2)/var(--line-height-150) var(--primary);
--body-b2-700: normal normal var(--font-weight-700) var(--font-size-b2)/var(--line-height-150) var(--primary);
--body-b3-400: normal normal var(--font-weight-400) var(--font-size-b3)/var(--line-height-150) var(--primary);
--body-b3-500: normal normal var(--font-weight-500) var(--font-size-b3)/var(--line-height-150) var(--primary);
--body-b3-700: normal normal var(--font-weight-700) var(--font-size-b3)/var(--line-height-150) var(--primary);
--container-border-radius: var(--border-radius-8);
--container-border-width: var(--border-width-1);
--alert-container-success-borderRadius: var(--border-radius-8);
--alert-container-success-fill: var(--colour-success-4);
--alert-container-error-borderRadius: var(--border-radius-8);
--alert-container-error-fill: var(--colour-error-4);
--alert-container-info-borderRadius: var(--border-radius-8);
--alert-container-info-fill: var(--colour-neutral-10);
--alert-icon-size-sizing: 20px;
--alert-icon-size-height: 20px;
--alert-icon-success: var(--colour-success-2);
--alert-icon-error: var(--colour-icon-error-2);
--alert-icon-info: var(--colour-icon-neutral-1);
--alert-typography-title-small-typography: var(--label-l2-500);
--alert-typography-title-small-lineHeights: var(--line-height-125);
--alert-typography-title-medium-typography: var(--label-l1-500);
--alert-typography-title-medium-lineHeights: var(--line-height-125);
--alert-typography-title-large-typography: var(--heading-h5-500);
--alert-typography-description-typography: var(--label-l2-400);
--alert-typography-description-lineHeights: var(--line-height-125);
--alert-text-success: var(--colour-success-2);
--alert-text-error: var(--colour-text-error-2);
--alert-text-info: var(--colour-text-neutral-1);
--alert-text-info-copy: var(--colour-neutral-2);
--alert-shadow: var(--shadow-4);
--modal-container-borderRadius: var(--border-radius-8);
--modal-container-fill: var(--colour-neutral-12);
--modal-icon-size-24-sizing: 24px;
--modal-icon-size-24-height: var(--element-height-24);
--modal-icon-size-28-sizing: 28px;
--modal-icon-size-28-height: 28px;
--modal-icon-left: var(--colour-icon-neutral-1);
--modal-icon-close: var(--colour-neutral-5);
--modal-typography-description-typography: var(--label-l2-400);
--modal-typography-description-lineHeights: var(--line-height-125);
--modal-typography-title-typography: var(--heading-h5-500);
--modal-text-title: var(--colour-text-neutral-1);
--modal-text-description: var(--colour-neutral-3);
--modal-overlay-sizing: 1440px;
--modal-overlay-height: 1024px;
--modal-overlay-fill: var(--colour-neutral-1);
--modal-shadow: var(--shadow-4);
--input-label-default: var(--colour-text-neutral-1);
--input-label-disabled: var(--colour-text-neutral-6);
--input-label-error: var(--colour-text-error-2);
--input-placeholder-default: var(--colour-text-neutral-5);
--input-placeholder-disabled: var(--colour-text-neutral-7);
--input-text-default: var(--colour-text-neutral-1);
--input-text-disabled: var(--colour-text-neutral-7);
--input-helper-default: var(--colour-text-neutral-5);
--input-helper-disabled: var(--colour-text-neutral-7);
--input-helper-error: var(--colour-text-error-2);
--input-container-focus-border: var(--border-default);
--input-container-focus-borderRadius: var(--container-border-radius);
--input-container-focus-fill: var(--colour-neutral-12);
--input-container-focus-borderColor: var(--colour-icon-neutral-1);
--input-container-focus-borderWidth: var(--container-border-width);
--input-container-focus-height: var(--element-height-48);
--input-container-hover-border: var(--border-default);
--input-container-hover-borderRadius: var(--container-border-radius);
--input-container-hover-fill: var(--colour-neutral-12);
--input-container-hover-borderColor: var(--colour-accent-11);
--input-container-hover-borderWidth: var(--border-width-1);
--input-container-hover-height: var(--element-height-48);
--input-container-disabled-border: var(--border-default);
--input-container-disabled-borderRadius: var(--container-border-radius);
--input-container-disabled-fill: var(--colour-neutral-11);
--input-container-disabled-borderColor: var(--colour-neutral-9);
--input-container-disabled-borderWidth: var(--container-border-width);
--input-container-disabled-height: var(--element-height-48);
--input-container-default-border: var(--border-default);
--input-container-default-borderRadius: var(--container-border-radius);
--input-container-default-fill: var(--colour-neutral-12);
--input-container-default-borderColor: var(--colour-neutral-6);
--input-container-default-borderWidth: var(--container-border-width);
--input-container-default-height: var(--element-height-48);
--input-container-error-border: var(--border-default);
--input-container-error-borderRadius: var(--border-radius-8);
--input-container-error-fill: var(--colour-neutral-12);
--input-container-error-borderColor: var(--colour-error-2);
--input-container-error-borderWidth: var(--container-border-width);
--input-container-error-height: var(--element-height-48);
--input-typography-label-typography: var(--label-l2-400);
--input-typography-placeholder-typography: var(--label-l1-400);
--input-typography-helper-typography: var(--label-l2-400);
--textarea-label-default: var(--colour-text-neutral-1);
--textarea-label-disabled: var(--colour-text-neutral-6);
--textarea-label-error: var(--colour-text-error-2);
--textarea-placeholder-default: var(--colour-text-neutral-5);
--textarea-placeholder-disabled: var(--colour-text-neutral-7);
--textarea-text-default: var(--colour-text-neutral-1);
--textarea-text-disabled: var(--colour-text-neutral-7);
--textarea-helper-default: var(--colour-text-neutral-5);
--textarea-helper-disabled: var(--colour-text-neutral-7);
--textarea-helper-error: var(--colour-text-error-2);
--textarea-container-focus-border: var(--border-default);
--textarea-container-focus-borderRadius: var(--border-radius-4);
--textarea-container-focus-fill: var(--colour-neutral-12);
--textarea-container-focus-borderColor: var(--colour-accent-3);
--textarea-container-focus-borderWidth: var(--border-width-2);
--textarea-container-focus-height: var(--element-height-128);
--textarea-container-hover-border: var(--border-default);
--textarea-container-hover-borderRadius: var(--border-radius-4);
--textarea-container-hover-fill: var(--colour-neutral-12);
--textarea-container-hover-borderColor: var(--colour-accent-3);
--textarea-container-hover-borderWidth: var(--border-width-1);
--textarea-container-hover-height: var(--element-height-128);
--textarea-container-disabled-border: var(--border-default);
--textarea-container-disabled-borderRadius: var(--border-radius-4);
--textarea-container-disabled-fill: var(--colour-neutral-11);
--textarea-container-disabled-borderColor: var(--colour-neutral-9);
--textarea-container-disabled-borderWidth: var(--border-width-1);
--textarea-container-disabled-height: var(--element-height-128);
--textarea-container-default-border: var(--border-default);
--textarea-container-default-borderRadius: var(--border-radius-4);
--textarea-container-default-fill: var(--colour-neutral-12);
--textarea-container-default-borderColor: var(--colour-accent-6);
--textarea-container-default-borderWidth: var(--border-width-1);
--textarea-container-default-height: var(--element-height-128);
--textarea-container-error-border: var(--border-default);
--textarea-container-error-borderRadius: var(--border-radius-4);
--textarea-container-error-fill: var(--colour-neutral-12);
--textarea-container-error-borderColor: var(--colour-error-2);
--textarea-container-error-borderWidth: var(--border-width-1);
--textarea-container-error-height: var(--element-height-128);
--textarea-typography-label-typography: var(--label-l2-400);
--textarea-typography-placeholder-typography: var(--label-l1-400);
--textarea-typography-placeholder-lineHeights: var(--line-height-125);
--textarea-typography-helper-typography: var(--label-l2-400);
--single-select-label-default: var(--colour-text-neutral-1);
--single-select-label-disabled: var(--colour-text-neutral-6);
--single-select-label-error: var(--colour-text-error-2);
--single-select-placeholder-default: var(--colour-text-neutral-5);
--single-select-placeholder-disabled: var(--colour-text-neutral-7);
--single-select-text-default: var(--colour-text-neutral-1);
--single-select-text-disabled: var(--colour-text-neutral-7);
--single-select-helper-default: var(--colour-text-neutral-5);
--single-select-helper-disabled: var(--colour-text-neutral-7);
--single-select-helper-error: var(--colour-text-error-2);
--single-select-container-default-border: var(--border-default);
--single-select-container-default-borderRadius: var(--container-border-radius);
--single-select-container-default-fill: var(--colour-neutral-12);
--single-select-container-default-borderColor: var(--colour-neutral-6);
--single-select-container-default-borderWidth: var(--container-border-width);
--single-select-container-default-height: var(--element-height-48);
--single-select-container-focus-border: var(--border-default);
--single-select-container-focus-borderRadius: var(--container-border-radius);
--single-select-container-focus-fill: var(--colour-neutral-12);
--single-select-container-focus-borderColor: var(--colour-neutral-1);
--single-select-container-focus-borderWidth: var(--container-border-width);
--single-select-container-focus-height: var(--element-height-48);
--single-select-container-hover-border: var(--border-default);
--single-select-container-hover-borderRadius: var(--border-radius-8);
--single-select-container-hover-fill: var(--colour-neutral-12);
--single-select-container-hover-borderColor: var(--colour-accent-11);
--single-select-container-hover-borderWidth: var(--border-width-1);
--single-select-container-hover-height: var(--element-height-48);
--single-select-container-error-border: var(--border-default);
--single-select-container-error-borderRadius: var(--border-radius-8);
--single-select-container-error-fill: var(--colour-neutral-12);
--single-select-container-error-borderColor: var(--colour-error-2);
--single-select-container-error-borderWidth: var(--container-border-width);
--single-select-container-error-height: var(--element-height-48);
--single-select-container-disabled-border: var(--border-default);
--single-select-container-disabled-borderRadius: var(--container-border-radius);
--single-select-container-disabled-fill: var(--colour-neutral-11);
--single-select-container-disabled-borderColor: var(--colour-neutral-9);
--single-select-container-disabled-borderWidth: var(--container-border-width);
--single-select-container-disabled-height: var(--element-height-48);
--single-select-container-menu-fill: var(--colour-neutral-12);
--single-select-typography-label-typography: var(--label-l2-400);
--single-select-typography-placeholder-typography: var(--label-l1-400);
--single-select-typography-menu-item-typography: var(--label-l1-400);
--single-select-typography-helper-typography: var(--label-l2-400);
--single-select-icon-default: var(--colour-neutral-3);
--single-select-icon-selected: var(--colour-icon-active-7);
--single-select-menu-item-default-fill: var(--colour-neutral-12);
--single-select-menu-item-default-height: var(--element-height-44);
--single-select-menu-item-default-borderRadius: var(--border-radius-0);
--single-select-menu-item-hover-fill: var(--colour-neutral-11);
--single-select-menu-item-hover-height: var(--element-height-44);
--single-select-menu-item-hover-borderRadius: var(--border-radius-0);
--single-select-menu-item-selected-fill: var(--colour-neutral-11);
--single-select-menu-item-selected-height: var(--element-height-44);
--single-select-menu-item-selected-borderRadius: var(--border-radius-0);
--single-select-shadow: var(--shadow-2);
--multi-select-label-default: var(--colour-text-neutral-1);
--multi-select-label-disabled: var(--colour-text-neutral-6);
--multi-select-label-error: var(--colour-text-error-2);
--multi-select-placeholder-default: var(--colour-text-neutral-5);
--multi-select-placeholder-disabled: var(--colour-text-neutral-7);
--multi-select-text-default: var(--colour-text-neutral-1);
--multi-select-text-disabled: var(--colour-text-neutral-7);
--multi-select-helper-default: var(--colour-text-neutral-5);
--multi-select-helper-disabled: var(--colour-text-neutral-7);
--multi-select-helper-error: var(--colour-text-error-2);
--multi-select-container-focus-border: var(--border-default);
--multi-select-container-focus-borderRadius: var(--container-border-radius);
--multi-select-container-focus-fill: var(--colour-neutral-12);
--multi-select-container-focus-borderColor: var(--colour-neutral-1);
--multi-select-container-focus-borderWidth: var(--container-border-width);
--multi-select-container-focus-height: var(--element-height-48);
--multi-select-container-hover-border: var(--border-default);
--multi-select-container-hover-borderRadius: var(--border-radius-100);
--multi-select-container-hover-fill: var(--colour-neutral-12);
--multi-select-container-hover-borderColor: var(--colour-accent-11);
--multi-select-container-hover-borderWidth: var(--border-width-1);
--multi-select-container-hover-height: var(--element-height-48);
--multi-select-container-disabled-border: var(--border-default);
--multi-select-container-disabled-borderRadius: var(--container-border-radius);
--multi-select-container-disabled-fill: var(--colour-neutral-11);
--multi-select-container-disabled-borderColor: var(--colour-neutral-9);
--multi-select-container-disabled-borderWidth: var(--container-border-width);
--multi-select-container-disabled-height: var(--element-height-48);
--multi-select-container-default-border: var(--border-default);
--multi-select-container-default-borderRadius: var(--container-border-radius);
--multi-select-container-default-fill: var(--colour-neutral-12);
--multi-select-container-default-borderColor: var(--colour-neutral-6);
--multi-select-container-default-borderWidth: var(--container-border-width);
--multi-select-container-default-height: var(--element-height-48);
--multi-select-container-error-border: var(--border-default);
--multi-select-container-error-borderRadius: var(--border-radius-8);
--multi-select-container-error-fill: var(--colour-neutral-12);
--multi-select-container-error-borderColor: var(--colour-error-2);
--multi-select-container-error-borderWidth: var(--container-border-width);
--multi-select-container-error-height: var(--element-height-48);
--multi-select-container-menu-fill: var(--colour-neutral-12);
--multi-select-typography-label-typography: var(--label-l2-400);
--multi-select-typography-placeholder-typography: var(--label-l1-400);
--multi-select-typography-menu-item-typography: var(--label-l1-400);
--multi-select-typography-helper-typography: var(--label-l2-400);
--multi-select-icon-default: var(--colour-neutral-3);
--multi-select-icon-selected: var(--colour-icon-active-7);
--multi-select-menu-item-default-fill: var(--colour-neutral-12);
--multi-select-menu-item-default-height: var(--element-height-44);
--multi-select-menu-item-default-borderRadius: var(--border-radius-0);
--multi-select-menu-item-hover-fill: var(--colour-neutral-11);
--multi-select-menu-item-hover-height: var(--element-height-44);
--multi-select-menu-item-hover-borderRadius: var(--border-radius-0);
--multi-select-menu-item-selected-fill: var(--colour-neutral-11);
--multi-select-menu-item-selected-height: var(--element-height-44);
--multi-select-menu-item-selected-borderRadius: var(--border-radius-0);
--multi-select-shadow: var(--shadow-2);
--toggle-container-inactive-borderRadius: var(--border-radius-100);
--toggle-container-inactive-fill: var(--colour-neutral-12);
--toggle-container-inactive-borderColor: var(--progressbar-progress);
--toggle-container-inactive-borderWidth: var(--border-width-1);
--toggle-container-inactive-height: var(--element-height-24);
--toggle-container-active-borderRadius: var(--border-radius-100);
--toggle-container-active-fill: var(--colour-primary-12);
--toggle-container-active-borderColor: var(--progressbar-progress);
--toggle-container-active-borderWidth: var(--border-width-1);
--toggle-container-active-height: var(--element-height-24);
--toggle-container-hover-borderRadius: var(--border-radius-100);
--toggle-container-hover-fill: var(--colour-primary-12);
--toggle-container-hover-borderColor: var(--progressbar-progress);
--toggle-container-hover-borderWidth: var(--border-width-1);
--toggle-container-hover-height: var(--element-height-24);
--toggle-container-disabled-borderRadius: var(--border-radius-100);
--toggle-container-disabled-fill: var(--colour-neutral-11);
--toggle-container-disabled-borderColor: var(--colour-neutral-9);
--toggle-container-disabled-borderWidth: var(--border-width-1);
--toggle-container-disabled-height: var(--element-height-24);
--toggle-border-disabled: var(--colour-neutral-9);
--toggle-border-default: var(--colour-neutral-6);
--toggle-border-hover: var(--colour-primary-7);
--toggle-slider-active: var(--colour-primary-7);
--toggle-slider-default: var(--colour-neutral-4);
--toggle-slider-disabled: var(--colour-text-neutral-7);
--toggle-slider-inactive-hover: var(--colour-primary-9);
--selects-container-inactive-borderRadius: var(--border-radius-100);
--selects-container-inactive-fill: var(--colour-neutral-12);
--selects-container-inactive-borderColor: var(--selects-border-default);
--selects-container-inactive-borderWidth: var(--border-width-1);
--selects-container-inactive-height: var(--element-height-24);
--selects-container-active-borderRadius: var(--border-radius-100);
--selects-container-active-fill: var(--colour-primary-12);
--selects-container-active-borderColor: var(--selects-border-default);
--selects-container-active-borderWidth: var(--border-width-1);
--selects-container-active-height: var(--element-height-24);
--selects-container-hover-borderRadius: var(--border-radius-100);
--selects-container-hover-fill: var(--colour-primary-12);
--selects-container-hover-borderColor: var(--selects-border-hover);
--selects-container-hover-borderWidth: var(--border-width-1);
--selects-container-hover-height: var(--element-height-24);
--selects-container-disabled-borderRadius: var(--border-radius-100);
--selects-container-disabled-fill: var(--colour-neutral-11);
--selects-container-disabled-borderColor: var(--colour-neutral-9);
--selects-container-disabled-borderWidth: var(--border-width-1);
--selects-container-disabled-height: var(--element-height-24);
--selects-border-disabled: var(--colour-neutral-9);
--selects-border-default: var(--colour-neutral-6);
--selects-border-hover: var(--colour-primary-7);
--selects-chosen-active: var(--colour-primary-7);
--selects-chosen-disabled: var(--colour-text-neutral-7);
--selects-chosen-tick: var(--colour-neutral-11);
--tag-container-default-borderRadius: var(--border-radius-100);
--tag-container-default-fill: var(--colour-primary-12);
--tag-container-default-borderColor: var(--colour-primary-7);
--tag-container-default-borderWidth: var(--border-width-1);
--tag-container-default-height: var(--element-height-24);
--tag-container-hover-borderRadius: var(--border-radius-100);
--tag-container-hover-fill: var(--colour-primary-7);
--tag-container-hover-borderColor: var(--colour-primary-7);
--tag-container-hover-borderWidth: var(--border-width-1);
--tag-container-hover-height: var(--element-height-24);
--tag-border-default: var(--colour-primary-7);
--tag-text-default: var(--colour-primary-7);
--tag-text-hover: var(--colour-neutral-12);
--tag-icon-default: var(--colour-primary-7);
--tag-icon-hover: var(--colour-neutral-12);
--tag-typography-label-typography: var(--label-l2-400);
--tabs-standard-borderRadius: var(--border-radius-100);
--tabs-standard-fill: var(--colour-neutral-9);
--tabs-standard-borderColor: var(--colour-neutral-9);
--tabs-standard-borderWidth: var(--border-width-1);
--tabs-standard-height: 1px;
--tabs-tag-borderRadius: var(--border-radius-4);
--tabs-tag-fill: var(--colour-primary-11);
--tabs-tag-borderColor: var(--colour-primary-11);
--tabs-tag-borderWidth: var(--border-width-1);
--tabs-tag-height: 40px;
--tabs-divider-active: var(--colour-primary-7);
--tabs-divider-hover: var(--colour-neutral-7);
--tabs-text-active: var(--colour-primary-7);
--tabs-text-inactive: var(--colour-neutral-4);
--tabs-typography-label-typography: var(--label-l1-500);
--progressbar-progress: var(--colour-primary-8);
--progressbar-container: var(--colour-neutral-10);
--progressbar-text-heading: var(--colour-neutral-1);
--progressbar-typography-label-typography: var(--label-l2-400);
--breadcrumb-divider-default: var(--colour-neutral-10);
--breadcrumb-ellipsis-default: var(--colour-neutral-7);
--breadcrumb-text-unselected: var(--colour-accent-6);
--breadcrumb-text-selected: var(--colour-neutral-5);
--breadcrumb-typography-label-typography: var(--label-l2-400);
--icon-size-16-sizing: 16px;
--icon-size-16-height: 16px;
--icon-size-20-sizing: 20px;
--icon-size-20-height: 20px;
--toast-container-default-height: var(--element-height-48);
--toast-container-default-borderRadius: var(--border-radius-8);
--toast-container-default-fill: var(--colour-neutral-1);
--toast-icon-size-sizing: 16px;
--toast-icon-size-height: var(--element-height-16);
--toast-icon-default: var(--colour-neutral-12);
--toast-typography-label-typography: var(--label-l2-500);
--toast-text-default: var(--colour-neutral-12);
--toast-shadow: var(--shadow-2);
--button-typography-medium-typography: var(--body-b2-500);
--button-typography-small-typography: var(--body-b3-500);
--button-typography-large-typography: var(--body-b1-500);
--button-primary-hover: var(--colour-primary-10);
--button-primary-disabled: var(--colour-neutral-9);
--button-primary-default: var(--colour-primary-12);
--button-primary-text-default: var(--colour-neutral-12);
--button-primary-text-hover: var(--button-primary-text-default);
--button-primary-text-disabled: var(--colour-neutral-7);
--button-primary-icon-default: var(--button-primary-text-default);
--button-primary-icon-hover: var(--button-primary-text-hover);
--button-primary-icon-disabled: var(--button-primary-text-disabled);
--button-secondary-disabled: var(--colour-neutral-9);
--button-secondary-default: var(--colour-neutral-12);
--button-secondary-hover: var(--colour-neutral-12);
--button-secondary-border-default: var(--colour-primary-12);
--button-secondary-border-hover: var(--colour-primary-6);
--button-secondary-border-disabled: var(--colour-neutral-7);
--button-secondary-text-default: var(--button-secondary-border-default);
--button-secondary-text-hover: var(--button-secondary-border-hover);
--button-secondary-text-disabled: var(--button-secondary-border-disabled);
--button-secondary-icon-default: var(--button-secondary-border-default);
--button-secondary-icon-hover: var(--button-secondary-border-hover);
--button-secondary-icon-disabled: var(--button-secondary-border-disabled);
--button-tertiary-text-default: var(--colour-accent-4);
--button-tertiary-text-hover: var(--colour-accent-6);
--button-tertiary-text-disabled: var(--colour-neutral-7);
--button-tertiary-icon-default: var(--button-tertiary-text-default);
--button-tertiary-icon-hover: var(--button-tertiary-text-hover);
--button-tertiary-icon-disabled: var(--button-tertiary-text-disabled);
--button-container-primary-default-fill: var(--button-primary-default);
--button-container-primary-default-borderRadius: var(--border-radius-100);
--button-container-primary-hover-fill: var(--button-primary-hover);
--button-container-primary-hover-borderRadius: var(--border-radius-100);
--button-container-primary-disabled-fill: var(--button-primary-disabled);
--button-container-primary-disabled-borderRadius: var(--border-radius-100);
--button-container-secondary-default-fill: var(--button-secondary-default);
--button-container-secondary-default-borderRadius: var(--border-radius-100);
--button-container-secondary-default-borderWidth: var(--border-width-2);
--button-container-secondary-default-borderColor: var(--button-secondary-border-default);
--button-container-secondary-hover-fill: var(--button-secondary-hover);
--button-container-secondary-hover-borderRadius: var(--border-radius-100);
--button-container-secondary-hover-borderWidth: var(--border-width-2);
--button-container-secondary-hover-borderColor: var(--button-secondary-border-hover);
--button-container-secondary-disabled-fill: var(--button-secondary-disabled);
--button-container-secondary-disabled-borderRadius: var(--border-radius-100);
--button-container-secondary-disabled-borderWidth: var(--border-width-2);
--button-container-secondary-disabled-borderColor: var(--button-secondary-border-disabled);
--button-height-small: var(--element-height-32);
--button-height-medium: var(--element-height-48);
--button-height-large: var(--element-height-64);
--tooltip-default: var(--colour-neutral-1);
--tooltip-text-heading: var(--colour-neutral-12);
--tooltip-typography-label-typography: var(--label-l1-700);
--tooltip-typography-supporting-text-typography: var(--body-b3-400);
--tooltip-container-verticalPadding: 12px;
--tooltip-container-horizontalPadding: 16px;
--tooltip-container-fill: var(--tooltip-default);
--tooltip-container-borderRadius: var(--border-radius-8);
--tooltip-container-itemSpacing: 4px;
--tooltip-shadow: var(--shadow-2);
--badge-container-default-borderRadius: var(--border-radius-100);
--badge-container-default-fill: var(--colour-neutral-10);
--badge-container-default-height: var(--element-height-24);
--badge-container-default-borderColor: var(--colour-neutral-10);
--badge-container-small-borderRadius: var(--border-radius-100);
--badge-container-small-fill: var(--colour-error-2);
--badge-container-small-borderColor: var(--colour-error-2);
--badge-container-small-sizing: 4px;
--badge-container-small-height: 4px;
--badge-container-informational-borderRadius: var(--border-radius-100);
--badge-container-informational-fill: var(--colour-accent-12);
--badge-container-informational-height: var(--element-height-24);
--badge-container-informational-borderColor: var(--colour-neutral-10);
--badge-container-success-borderRadius: var(--border-radius-100);
--badge-container-success-fill: var(--colour-success-4);
--badge-container-success-height: var(--element-height-24);
--badge-container-success-borderColor: var(--colour-success-4);
--badge-container-critical-borderRadius: var(--border-radius-100);
--badge-container-critical-fill: var(--colour-error-4);
--badge-container-critical-height: var(--element-height-24);
--badge-container-critical-borderColor: var(--colour-error-4);
--badge-text-default: var(--colour-neutral-1);
--badge-text-success: var(--colour-success-2);
--badge-text-informational: var(--colour-accent-6);
--badge-text-critical: var(--colour-error-2);
--badge-typography-label-typography: var(--label-l3-400);
--avatar-container-verticalPadding: 12px;
--avatar-container-horizontalPadding: 16px;
--avatar-container-fill: var(--accordion-expanded-header);
--avatar-container-borderRadius: var(--border-radius-8);
--avatar-container-itemSpacing: 4px;
--avatar-icon-heading: var(--colour-neutral-4);
--avatar-icon-edit: var(--colour-neutral-1);
--avatar-typography-label-typography: var(--label-l1-700);
--avatar-typography-supporting-text-typography: var(--body-b3-400);
--avatar-text-heading: var(--colour-neutral-4);
--avatar-text-edit: var(--colour-neutral-1);
--card-typography-title-typography: var(--heading-h5-500);
--card-typography-title-lineHeights: var(--line-height-125);
--card-typography-description-typography: var(--label-l2-400);
--card-typography-description-lineHeights: var(--line-height-125);
--card-typography-action-typography: var(--label-l2-500);
--card-typography-action-lineHeights: var(--line-height-125);
--card-image-horizontal-height: 160px;
--card-image-horizontal-borderRadius: 8px;
--card-image-vertical-sizing: 144px;
--card-image-vertical-height: 96px;
--card-image-vertical-borderRadius: 8px;
--card-container-default-borderRadius: var(--border-radius-8);
--card-container-default-fill: var(--colour-neutral-12);
--card-container-hover-borderRadius: var(--border-radius-8);
--card-container-hover-fill: var(--colour-primary-12);
--card-text-default: var(--colour-neutral-1);
--card-text-description: var(--colour-neutral-4);
--card-shadow: var(--shadow-0);
--accordion-expanded-header: var(--colour-primary-12);
--accordion-default: var(--colour-neutral-12);
--accordion-hover: var(--colour-neutral-11);
--accordion-icon-default: var(--colour-neutral-1);
--accordion-typography-label-typography: var(--heading-h6-300);
--accordion-typography-heading-typography: var(--heading-h6-500);
--accordion-typography-body-typography: var(--body-b3-400);
--accordion-text-heading-default: var(--colour-neutral-1);
--accordion-text-heading-expanded: var(--colour-primary-7);
--accordion-text-heading-body: var(--colour-neutral-4);
--accordion-text-heading-label: var(--colour-neutral-2);
--accordion-container-default-fill: var(--accordion-default);
--accordion-container-default-borderRadius: var(--border-radius-8);
--accordion-container-default-height: var(--element-height-64);
--accordion-container-default-itemSpacing: 20px;
--accordion-container-hover-fill: var(--accordion-hover);
--accordion-container-hover-borderRadius: var(--border-radius-8);
--accordion-container-hover-height: var(--element-height-64);
--accordion-container-hover-itemSpacing: 20px;
--accordion-container-expanded-header-fill: var(--accordion-expanded-header);
--accordion-container-expanded-header-borderRadius: var(--border-radius-8);
--accordion-container-expanded-header-height: var(--element-height-64);
--accordion-container-expanded-header-itemSpacing: 20px;
--accordion-shadow: var(--shadow-2);
--accordion-container-line-default-height: var(--element-height-64);
--accordion-container-line-default-itemSpacing: 20px;
--accordion-container-line-default-borderWidthBottom: var(--border-width-1);
--accordion-container-line-default-borderColor: var(--accordion-line-border);
--accordion-container-line-expanded-itemSpacing: 20px;
--accordion-container-line-expanded-borderWidthBottom: var(--border-width-1);
--accordion-container-line-expanded-borderColor: var(--accordion-line-border);
--accordion-line-border: var(--colour-neutral-6);
}